@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Open Sans', sans-serif;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  .wrapper {
    display: flex;
    justify-content: center;
  }
}
